.addfarmImage {
    background: url('../../../public/Images/farm.jpeg');
    background: linear-gradient(rbga(11,11,11,0.5), rgba(20,20,20,0.5),url('../../../public/Images/farm.jpeg'));
    background-size: 100% 120%;
    background-repeat: no-repeat;
    /* background-position: */

}

.addForm {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.familyName {
    font-family: 'Edu SA Hand', sans-serif;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}